<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hobbies</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <script src="javascript/script.js"></script>
    <h2>Hello this is the hobbies page!</h2>
  <h2>List of hobbies:</h2>
  <ul>
      <li><a href="/hobbies/crochet">Crochet</li></a>
      <li><a href="/hobbies/dancing">Dancing</li></a>
      <li><a href="/hobbies/hiking">Hiking</li></a>
  </ul>  
</body>
</html>